<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <div class="d-flex">
                        <span class="nav-link" style="font-size: 18px;">{{ user.username }}</span>
                        <form action="{% url 'core:home' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger ms-auto">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    // Selecciona el navbar
    var navbar = document.getElementById("mainNav");

    // Guarda la posición actual de la página
    var lastScrollTop = 0;

    // Añade un evento de desplazamiento a la ventana
    window.addEventListener("scroll", function() {
        // Obtiene la posición actual de la página
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        // Verifica si el desplazamiento es hacia abajo y si la distancia recorrida es mayor a 100px
        if (scrollTop > lastScrollTop && scrollTop > 100) {
            // Oculta el navbar
            navbar.classList.add("navbar-hidden");
        } else {
            // Muestra el navbar
            navbar.classList.remove("navbar-hidden");
        }

        // Actualiza la última posición de desplazamiento
        lastScrollTop = scrollTop;
    });
</script>

<style>

        /* Estilo para el tamaño de las letras del navbar */
        .navbar-nav .nav-link {
            font-size: 18px; /* Ajusta el tamaño de la letra según tus preferencias */
        }
    /* Estilo para ocultar el navbar */
    .navbar-hidden {
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
    }
</style>
