    {% extends 'core/base.html' %}
    {% load static %}
    {% block title %}
        Productos: Cambiar una Categoria de Productos
    {% endblock title %}

    {% block content %}
        {% include 'core/components/navbar.html' %}
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Crealos, editalos o borralos por categorias</div>
                <h1 class="masthead-heading text-uppercase">Productos</h1>
            </div>
        </header>
        <div class="container my-5">
        <form method="post">
            {% csrf_token %}
            <table style="font-size: 30px;">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary btn-sm text-uppercase">Guardar</button>
        </form>
        <div class="fs-3 pb-4">
            <a href="{% url 'producto:categoria_list' %}" class="btn btn-secondary btn-sm text-uppercase">Volver</a>
        </div>
        </div>
    {% endblock content %}

