    {% extends 'core/base.html' %}
    {% load static %}

    {% block title %}
        Productos: Lista de Categoria de Productos
    {% endblock title %}

    {% block content %}
        {% include 'core/components/navbar.html' %}
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Crealos, editalos o borralos por categorias</div>
                <h1 class="masthead-heading text-uppercase">Productos</h1>
            </div>
        </header>
        <div class="container my-5">
            <div class="py-lg-2">
                <form action="{% url 'producto:categoria_list' %}" method="get">
                    <input type="text" name="consulta" class="form-control" style="font-size: 24px;" placeholder="Buscar...">
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="font-size: 30px;">Categorias</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in object_list %}
                        <tr>
                            <td style="font-size: 24px;">{{ producto.nombre }}</td> 
                            <td>
                                <a class="btn btn-info btn-lg me-1"
                                href="{% url 'producto:categoria_detail' producto.id %}">Detalle</a>
                                <a class="btn btn-warning btn-lg me-1"
                                href="{% url 'producto:categoria_update' producto.id %}">Editar</a>
                                <a class="btn btn-danger btn-lg"
                                href="{% url 'producto:categoria_delete' producto.id %}">Borrar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="fs-3 pb-4">
                <a href="{% url 'producto:home' %}" class="btn btn-secondary btn-lg text-uppercase">Volver al inicio de Producto</a>
            </div>
        </div>
    {% endblock content %}
