{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Producto: 
    {% if form.instance.pk %}
        Editar
    {% else %}
        Crear
    {% endif %}
    Productos
{% endblock title %}

{% block content %}
    {% include 'core/components/navbar.html' %}
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Crealos, editalos o borralos por categorias</div>
            <h1 class="masthead-heading text-uppercase">Productos</h1>
        </div>
    </header>
    <div class="container my-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 style="font-size: 30px;">Agregar producto</h1>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg text-uppercase float-left">Guardar</button>
        </form>
        <div class="fs-3 pb-4">
            <a href="{% url 'producto:home' %}" class="btn btn-secondary btn-lg text-uppercase float-left mt-2">Volver al inicio de Producto</a>
        </div>
    </div>
{% endblock content %}
