{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Acerca de AICommerce Business
{% endblock title %}

{% block content %}
    {% include 'core/components/navbar.html' %}
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase">AICommerce Business</div>
            <div class="masthead-subheading">Acerca de AICommerce Business</div>
        </div>
    </header>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center">Acerca de AICommerce Business</h2>
                    <p class="lead">Una plataforma de comercio electrónico personalizable.</p>
                    <p>AICommerce Business es una plataforma de comercio electrónico personalizable que permite a las empresas crear y gestionar sus propias tiendas en línea de manera eficiente y escalable. Utilizando tecnologías de inteligencia artificial, AICommerce Business proporciona una solución integral para empresas que desean establecer una presencia en línea y ofrecer una experiencia de compra personalizada a sus clientes.</p>
                    <p>La plataforma permite a las empresas personalizar aspectos clave de sus tiendas en línea, como diseño, branding y categorías de productos, mientras ofrece recomendaciones de productos contextuales basadas en el historial de compras y el comportamiento del cliente.</p>
                    <p class="lead">Acerca del Creador</p>
                    <p>Soy Diego Drutman, un apasionado desarrollador de software con experiencia en Python y Django. AICommerce Business es un proyecto que he desarrollado para ayudar a las empresas a aprovechar el poder de la inteligencia artificial en el comercio electrónico.</p>
                    <p>Me encanta trabajar en proyectos desafiantes y aprender nuevas tecnologías para mejorar mis habilidades. Estoy comprometido a brindar soluciones innovadoras y de alta calidad a través de mi trabajo en AICommerce Business.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
