{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Listado de Categorías - AICommerce Business
{% endblock title %}

{% block content %}
    {% include 'core/components/navbar.html' %}
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase">Categorías disponibles</div>
            <div class="masthead-subheading">Categorías de Productos</div>
        </div>
    </header>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">Listado de Categorías</h2>
                </div>
            </div>
            <div class="row">
                {% for categoria_con_productos in categorias_con_productos %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">{{ categoria_con_productos.categoria.nombre }}</h3>
                                {% if categoria_con_productos.productos %}
                                    {% for producto in categoria_con_productos.productos %}
                                        <div class="card mb-2">
                                            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ producto.nombre }}</h5>
                                                <p class="card-text">$ {{ producto.precio }}</p>
                                                <a href="{% url 'core:productos' producto.id %}" class="btn btn-primary">Ver Detalles</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No hay productos disponibles en esta categoría.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
