{% extends 'core/base.html' %}

{% block title %}
    Iniciar sesión - AICommerce Business
{% endblock title %}

{% block content %}
<section class="page-section bg-light" id="pedido">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Iniciar sesión</h2>
                    <h3 class="section-subheading text-muted">Completa los campos para ingresar.</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <form method="post" class="text-center"> 
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="next" value="{% url 'producto:home' %}">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                            <a href="{% url 'core:home' %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
