    {% extends 'core/base.html' %}
    {% load static %}

    {% block title %}
        Productos: Detalle de una Categoria de Producto
    {% endblock title %}

    {% block content %}
        {% include 'producto/components/navbar_producto.html' %}
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Crealos, editalos o borralos por categorias</div>
                <h1 class="masthead-heading text-uppercase">Productos</h1>
            </div>
        </header>
        <div class="container my-5">
        <h1 style="font-size: 30px;">Categoria</h1>
        <ul style="font-size: 24px;">
            <li>Nombre: {{ object.nombre }}</li>
            <li>Descripción: {{ object.descripcion }}</li>
        </ul>
        <div class="fs-3 pb-4">
            <a href="{% url 'producto:categoria_list' %}" class="btn btn-primary btn-lg text-uppercase">Volver al inicio de producto</a>
        </div>
        </div>
    {% endblock content %}
