{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Detalle del Producto: {{ object.nombre }}
{% endblock title %}

{% block content %}
    {% include 'producto/components/navbar_producto.html' %}
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Crealos, editalos o borralos por categorias</div>
            <h1 class="masthead-heading text-uppercase">Productos</h1>
        </div>
    </header>
    <div class="container my-5">
        <h1 style="font-size: 30px;">Detalle del Producto</h1>
        <ul>
            <li style="font-size: 24px;">Categoria: {{ object.categoria }}</li>
            <li style="font-size: 24px;">Nombre: {{ object.nombre }}</li>
            <li style="font-size: 24px;">Telefono: {{ object.telefono }}</li>
            <li style="font-size: 24px;">Email: {{ object.email }}</li>
            <li style="font-size: 24px;">Descripcion: {{ object.descripcion }}</li>
            <li style="font-size: 24px;">Fecha: {{ object.fecha_actualizacion }}</li>
            {% if object.imagen %}
                <li style="font-size: 24px;">Imagen: <img src="{{ object.imagen.url }}" alt="Imagen de Producto"></li>
            {% else %}
                <li style="font-size: 24px;">Imagen: No disponible</li>
            {% endif %}
        </ul>

        <div class="fs-3 pb-4">
            <a href="{% url 'producto:home' %}" class="btn btn-secondary btn-lg text-uppercase">Volver al inicio de Producto</a>
        </div>
    </div>
{% endblock content %}
